body{
	font-family: "Helvetica","Arial".sans-serif;
	background-color: #fff;
	color: #000;
}
table{
	margin: auto;
	border: 1px solid #699;
}
caption{
	margin: auto;
	padding: 0.2em;
	font-size: 1.2em;
	font-weight: bold;
}
th{
	font-weight: normal;
	font-style: italic;
	text-align: left;
	border: 1px dotted #699;
	background-color: #9cc;
	color: #000;
}
th,td{
	width: 10em;
	padding: 0.5em;
}
/*使用css3偶数行改变背景颜色*/
/*tr:nth-child(odd) {background-color: #ffc;}
tr:nth-child(even) {background-color: #fff;}*/

/*使用伪类*/
/*td:hover{font-weight: bold;}*/
.odd{
	background-color: #ffc;
}