/*@mixin toolbar-item($pos,$hoverpos){
	background-position: 0 $pos;
	&:hover{
		background-position:0 $hoverpos;
	};
}
$toolbar-size:52px;
.toolbar-item,.toolbar-layer{
	background: url(../images/toolbar.png) no-repeat;
}
.toolbar{
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item{
	position: relative;
	display: block;
	width: $toolbar-size;
	height: $toolbar-size;
	margin-top: 1px;
	@include transition(background-position 1s);

	&:hover{
		.toolbar-layer{
			@include opacity(1);
			@include scale(1);
		}
	};
}
.toolbar-item-weixin{
	@include toolbar-item(-798px,-860px);
	.toolbar-layer{
		height: 212px;
		background-position: 0 0;
	}
}
.toolbar-item-feedback{
	@include toolbar-item(-426px,-488px);
}
.toolbar-item-app{
	@include toolbar-item(-550px,-612px);
	.toolbar-layer{
		height: 194px;
		background-position: 0 -222px;
	}
}
.toolbar-item-top{
	@include toolbar-item(-674px,-736px);
}
.toolbar-layer{
	position: absolute;
	right: $toolbar-size - 6;
	bottom: -10px;
	width: 172px;
	@include opacity(0);
	@include transform-origin(95% 95%);
	@include scale(0.01);
	@include transition(all 1s);
}*/
/*$toolbar-size:52px;
.toolbar-item,
.toolbar-btn,
.toolbar-icon,
.toolbar-text{
	width: $toolbar-size;
	height: $toolbar-size;
	color: #fff;
	text-align: center;
	@include transition(top 1s);
}
.toolbar-icon,
.toolbar-text{
	position: absolute;
	left: 0;
}
.toolbar{
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item{
	position: relative;
	display: block;
	margin-top: 1px;

	&:hover{

		.toolbar-icon{
			top: -$toolbar-size;
		}
		.toolbar-text{
			top: 0;
		}
		.toolbar-layer{
			@include opacity(1);
			@include scale(1);
			@include transition(all 1s);
		}
	};
}
.toolbar-btn{
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}
.toolbar-icon{
	top: 0;
	background-color: #d0d6d9;
	font-size: 30px;
	line-height: $toolbar-size;
}
.toolbar-text{
	top: $toolbar-size;
	background-color: #98a1a6;
	font-size: 12px;
	padding-top: 12px;
	line-height: 1.2;
}
.toolbar-layer{
	position: absolute;
	right: $toolbar-size - 6;
	bottom: -10px;
	width: 172px;
	background: url(../images/toolbar_img.png) no-repeat;
	@include opacity(0);
	@include transform-origin(95% 95%);
	@include scale(0.01);
}
.toolbar-layer-wechat{
	height: 212px;
	background-position: 0 0;
}
.toolbar-layer-app{
	height: 194px;
	background-position: 0 -222px;
}*/
$toolbar-size:52px;
.toolbar-item,
{
	width: $toolbar-size;
	height: $toolbar-size;
}
.toolbar{
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item{
	position: relative;
	display: block;
	margin-top: 1px;
	&:hover {
		.toolbar-btn{
			&:before{
				top: $toolbar-size;
			};
			&:after{
				top: 0;
			};
		}
		&:after{
			@include opacity(1);
			@include scale(1);
		};
	}


	&:after {
		content: "";
		position: absolute;
		right: $toolbar-size - 6;
		bottom: -10px;
		width: 172px;
		background: url(../images/toolbar_img.png) no-repeat;
		@include opacity(0);
		@include transform-origin(95% 95%);
		@include scale(0.01);
		@include transition(all 1s)
	};
}
.toolbar-item-wechat{
	&:after{
		content: "";
		height: 212px;
		position: 0 0;
	};
	.toolbar-btn{
		@extend .icon-wechat;
		/*&:before{
			content: "\e902";
		};*/
		&:after {
			content: "公众\A账号";
		};
	}
}
.toolbar-item-feedback{
	.toolbar-btn{
		@extend .icon-speech-bubble;
		/*&:before{
			content: "\e900";
		};*/
		&:after {
			content: "意见\A反馈";
		};
	}
}
.toolbar-item-app{
	&:after {
		content: "";
		height: 194px;
		background-position: 0 -222px;
	};
	.toolbar-btn{
		@extend .icon-mobile;
		/*&:before{
			content: "\e958";
		};*/
		&:after {
			content: "APP\A下载";
		};
	}
}
.toolbar-item-top{
	.toolbar-btn{
		@extend .icon-align-top;
		/*&:before{
			content: "\e901";
		};*/
		&:after {
			content: "返回\A顶部";
		};
	}
}
.toolbar-btn{
	&,&:before,&:after {
		position: absolute;
		left: 0;
		width: $toolbar-size;
		height: $toolbar-size;
	}
	&:before,&:after{
		content: "";
		color: #fff;
		text-align: center;
		@include transition(top 1s);
	}
	top: 0;
	overflow: hidden;
	/*下面是图标的字体样式*/
	@extend [class^="icon-"];

	&:before{/*icon*/
		top: 0;
		background-color: #d0d6d9;
		font-size: 30px;
		line-height: $toolbar-size;
	};

	&:after {/*text*/
		top: $toolbar-size;
		background-color: #98a1a6;
		font-size: 12px;
		line-height: 1.2;
		padding-top: 12px;
		white-space: pre;
	};
}