*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.txt{
	font-size: 30px;
}
#side_play{
	width: 200px;
	height: 200px;
	background-color: #c93;
	position: relative;
	top: 50px;
	left: -200px;
	text-align: center;
}
#side_bar{
	display: block;
	width:20px;
	height: 70px;
	color: 	#fff;
	background-color: #006;
	position: absolute;
	top: 70px;
	left: 200px;
}
#box_alpha{
	width: 200px;
	height: 200px;
	background-color: #f00;
	margin: -150px auto;
	filter:alpha(opacity:30);
	opacity:0.3;
	text-align: center;
}
#side_play_2{
	width: 400px;
	height: 200px;
	background-color: #0ff;
	position: relative;
	top: 200px;
	left: -400px;
	text-align: center;
}
#side_bar_2{
	display: block;
	width:20px;
	height: 70px;
	color: 	#fff;
	background-color: #033;
	position: absolute;
	top: 70px;
	left: 400px;
}
#box_three_play{
	margin-top: 250px;
}
#box_three_play li{
	text-align: center;
	list-style: none;
	width: 200px;
	height: 50px;
	margin-top: 20px;
	background-color: #ff3;
}
#box_four_alpha{
	float: right;
	margin-top: -400px;
	margin-right: 300px;
	width: 600px;
}
#box_four_alpha li{
	float: left;
	list-style: none;
	text-align: center;
	margin: 20px;
	width: 100px;
	height: 100px;
	background-color: #f0f;
	filter:alpha(opacity:30);
	opacity:0.3;
}