*{box-sizing: border-box;}
div#test{
  width: 100%;
  height: 500px;
  background: white;
  padding: 100px 0; 
  margin: 100px auto;
  border: 1px solid #ddd;
  
  perspective: 1000px;
}

#banner{
  height: 300px;
  width: 400px;
  margin: 0 auto;
  background:  #37D7B2;
  transition: transform 0.1s;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  text-align: center;
  line-height: 300px;
  font-size: 50px;
  color: #fff;
}

body{
  background: white;
  padding: 20px;
}